<h3>Subjects</h3>
<ul>
  <% current_user.subjects.each do |subject| %>
    <li>
      <%= link_to(subject.title, "/api/subjects/" + subject.id.to_s) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Subject", "/api/subjects/new" %>
