/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .


 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
   /*border: 1px solid red;*/
 }

 /* --- ELEMENTS --- */

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 16px;
   line-height: 1.1666666666;
   background: #eee;
   color: #000;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 .main {
   background: white;
 }
