
footer {
  position: relative;
  /*position: absolute;
  bottom: 0px;*/
  /*margin-top: -300px;*/

  margin: auto;
  height: 180px;
  clear: both;
  background-color: #222;
  padding-top: 40px;
  padding-bottom: 100px;

}


.footer .footer-wrapper {
  width: 60%;
  display: table;
  table-layout: fixed;
  margin: auto;
}

.footer ul.footer-nav {
  display: table-cell;
  padding: 0;
  list-style: none;
  color: #ccc;
}

.footer li {
  margin: 10px 0;
}

.footer h5 {
  margin-bottom: 15px;
}

.footer a {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.footer a:hover {
  color: white;
}
