.background {
  // background: asset_path("background.jpg") no-repeat;
  background: url("https://images.unsplash.com/reserve/8S64npOgTu2eWTZIXEfy_DSC_0955.JPG?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1200");
  background-size: cover;
  background-position: 25% 75%;
  height: 900px;
}

.welcome {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  position: relative;
  top: 30%;
  left: 60%;
}

.welcome hr {
  width: 90%;
}

.welcome h1 {
  color: #6ea6a4;
  font-size: 45px;
}

.welcome h2 {
  padding: 10px;
  margin: auto;
  width: 200px;
  font-size: 13px;
  font-weight: bold;
}

.get-started {

}

.get-started a {
  color: #ebebeb;
  font-size: 30px;
  padding: 10px 70px;
  background: #3ca0e7;
  border-radius: 5px;
  width: 300px;
}

/*SIGNUP ANIMATION HOMEPAGE*/

.home-signup {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  background:#7f7f7f;
  background:rgba(0,0,0,0.1);
  height: 250px;
  width: 180px;
  padding: 20px;
  border-radius: 10px;
}

.home-signup h1 {
  opacity: 1;
  position: relative;
  font-weight: bold;
}

.home-signup .username {
  padding-top: 10px;
}

.home-signup .password {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-signup input {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: white;
  padding: 3px;
}

.home-signup button {
  color: #ebebeb;
  padding: 10px 50px;
  background: #3ca0e7;
  border-radius: 5px;
  width: 60px;
  margin: 5px;
}

/*LOGIN ANIMATION HOMEPAGE*/

.home-login {
  float: left;
  background:#7f7f7f;
  background:rgba(0,0,0,0.1);
  height: 250px;
  width: 180px;
  padding: 20px;
  border-radius: 10px;
}

.home-login h1 {
  opacity: 1;
  position: relative;
  font-weight: bold;
}

.home-login .username {
  padding-top: 10px;
  padding-bottom: 5px;
}

.home-login .password {
  padding-top: 10px;
  padding-bottom: 15px;
}

.home-login input {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: white;
  padding: 3px;
}

.home-login button {
  color: #ebebeb;
  padding: 10px 60px;
  background: #3ca0e7;
  border-radius: 5px;
  width: 50px;
  margin: 5px;
}

.highlight {
  background: #F5EED5;
}


#fb-auth {
  font-size: 12px;
  padding: 0 0;
  background: none;
  color: black;
}
