/*enclosing container for left panel*/
.study-show-nav {
  background: #333333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  max-width: 300px;
}

/*LEFT SIDE*/

.nav-panel {
  background: #0D0D0D;
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  width: 35px;
}

.nav-panel img {
  height: 25px;
  width: 25px;
  margin-left: 4px;
}

.nav-panel ul {
}

.nav-panel li {
  padding-top: 20px;
  margin-left: 5px;
  color: #29A5DC;
}

/*RIGHT SIDE*/

.progress-panel {
  width: 100%;
}

.mastery-header {
  padding: 10px;
  padding-left: 50px;
  display: block;
  background: #4A4A4A;
  color: white;
}

.progress-panel > a {
  margin-left: 17%;
  padding: 10px 20px;
  background: #29A5DC;
  border-radius: 5px;
  color: white;
}

.progress-panel > a:hover {

}

.progress-percentage {

}

.cards-left {

}



/*STUDY SHOW MAIN*/

.study-show-main {
  /*align-items: center;*/
  position: absolute;
  left: 33%;
  top: 5%;
}

.rating-container {
  min-width: 360px;
  max-width: 600px;
}

.reveal, .ratebar {
  background: #29A5DC;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  height: 20px;
  color: #ffffff;
}

.reveal {
  text-align: center;
}

.ratebar ul {
  padding-left: 5%
}

.ratebar a {
  float: left;
  padding: 1% 8% 3% 8%;
}

.ratebar a:hover {
  color: #ccc;
}


/*add Card form*/
.add-card-form {
  background: #eee;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  max-width: 280px;
  font-size: 12px;
  margin-left: 17%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-card-form > h1 {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
}

.add-card-form button {
  display: block;
  padding: 5px 10px;
  margin: 5px auto;
  background: #2980b9;
  border-radius: 5px;
  color: white;
}

.add-card-form input {
  padding: 10px;
  margin: auto;
}

/*RESPONSIVENESS*/

@media (max-width: 845px) {
  .study-show-nav {
    display: none;
  }

  .study-show-main {
    width: 100%;
    margin: 20px;
    left: 0;
    top: 0;
  }

  .rating-container {
    width: 90%;
  }
  .reveal, .ratebar {
    width: 75%;
    max-width: 900px;
    min-width: 320px;
  }
}
