.study {
  /*display: block;
  height: 100%;*/
}
/*enclosing container for left panel*/
.study-show-nav { display:none; }

@media (min-width: 500px) {
  .study-show-nav {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;

  }
}

/*LEFT SIDE*/

.nav-panel {
  display: block;
  height: 100%;
  width: 35px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.nav-panel img {
  display: block;
  height: 20px;
  width: 20px;
  padding: 5px;
}

.nav-panel ul {
  /*margin-left: 5px;*/
}

.nav-panel li {
  color: #43adee;
  margin: auto;
  padding: 10px 5px;
}

/*RIGHT SIDE*/

.progress-panel {
  position: absolute;
  left: 35px;
  top: 0;
  bottom: 0;
  background: #292929;
  width: 280px;
}

.mastery-header {
  font-size: 14px;
  background: #3e3e3e;
  color: #e3e3e3;
  padding: 10px;
}

.progress-panel > a {
  color: #e3e3e3;
  float: left;
  background: #0b8ff2;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}

.progress-panel > a:hover {
  background: #0887e5;
}

.progress-percentage {

}

.cards-left {

}



/*STUDY SHOW MAIN*/

.study-show-main {
  position: relative;
  left: 315px;
  right: 0;
  bottom: 0;
  top: 0;
}

.flashcard {
  background: white;
  height: 400px;
  width: 60%;
  float: left;
  margin: 5% auto auto 10%;
  /*margin: auto;*/
  border-radius: 10px;
}

.rating {
  /*margin-left: 10%;*/
  float: left;
  margin: auto;
  background: red;
  height: 40px;
  width: 60%;
  margin: 5% auto auto 10%;
  border-radius: 10px;
}

.rating li {
  float: left;
  padding 20%;

}
