.flashcard {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flashcard.flipped .card-flipper {
		transform: rotateY(180deg);
	}

.flashcard, .cardfront, .cardback {
	/*align-items: center;*/
	width: 100%;
	height: 100%;
	min-height: 400px;
	min-width: 600px;
	max-width: 600px;
}

.flashcard h4 {
	margin-left: 20px;
}

.flashcard h3 {
	width: 40%;
	margin: auto;
	font-weight: normal;
}

/* flip speed goes here */
.card-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
}

/* hide cardback of pane during swap */
.cardfront {
  background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 85%
}

.cardback {
  background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 85%
}

/* cardfront pane, placed above cardback */
.cardfront {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* cardback, initially hidden pane */
.cardback {
	transform: rotateY(180deg);
}

@media (max-width: 900px) {
	.rating-container, .cardfront, .cardback  {
		width: 94%;
		min-width: 360px;
	}

	.cardback {
		left: 6%;
	}
}

@media (max-width: 845px) {
	.rating-container, .flashcard, .cardfront, .cardback  {
		width: 90%;
		max-width: 900px;
		min-width: 360px;
	}

	.cardback {
		left: 10%;
	}

	.rating-container {
		width: 100%;
	}

}

@media (max-width: 420px) {
	.cardback {
		left: 0%;
	}
}
