.study {
  /*display: block;
  height: 100%;*/
}
/*enclosing container for left panel*/
.study-show-nav { display:none; }

@media (min-width: 500px) {
  .study-show-nav {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;

  }
}

/*LEFT SIDE*/

.nav-panel {
  display: block;
  height: 100%;
  width: 35px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.nav-panel img {
  display: block;
  height: 20px;
  width: 20px;
  padding: 5px;
}

.nav-panel ul {
  /*margin-left: 5px;*/
}

.nav-panel li {
  color: #43adee;
  margin: auto;
  padding: 10px 5px;
}

/*RIGHT SIDE*/

.progress-panel {
  position: absolute;
  left: 35px;
  top: 0;
  bottom: 0;
  background: #292929;
  width: 280px;
}

.mastery-header {
  font-size: 14px;
  background: #3e3e3e;
  color: #e3e3e3;
  padding: 10px;
}

.progress-panel > a {
  color: #e3e3e3;
  float: left;
  background: #0b8ff2;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}

.progress-panel > a:hover {
  background: #0887e5;
}

.progress-percentage {

}

.cards-left {

}



/*STUDY SHOW MAIN*/

.study-show-main {
  position: relative;
  left: 315px;
  right: 0;
  bottom: 0;
  top: 0;
}

.flashcard {
  height: 400px;
  width: 60%;
  float: left;
  margin: 5% auto auto 10%;
  /*margin: auto;*/
  border-radius: 10px;
}

.flashcard h4 {
  color: #ccc;
  font-weight: lighter;
  font-size: 12px;
  margin: 5px;
}

.flashcard h3 {
  font-weight: bold;
  font-size: 18px;
  color: #292929;
  text-align: center;
  margin-top: 30%;
}

.reveal {
  color: white;
  float: left;
  padding-top: 20px;
  background: #0b8ff2;
  height: 40px;
  width: 565px;
  margin: 5% auto auto 10%;
  text-align: center;
  border-radius: 10px;
}

.ratebar {
  color: white;
  float: left;
  padding-top: 20px;
  background: #0b8ff2;
  height: 40px;
  width: 565px;
  margin: 5% auto auto 10%;
  text-align: center;
  border-radius: 10px;
}

.ratebar ul {
  padding-left: 70px;
}

.ratebar a {
  float: left;
  display: block;
  padding-left: 8%;
  padding-right: 8%;
  color: white;
}

.ratebar a:hover {
  color: #ccc;
}


/*add Card form*/
.add-card-form {
  background: #eee;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  font-size: 12px;
  margin: auto;
}

.add-card-form > h1 {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
}

.add-card-form button {
  display: block;
  padding: 5px 10px;
  margin: 5px auto;
  background: #2980b9;
  border-radius: 5px;
  color: white;
}

.add-card-form input {
  /*background: white;*/
  padding: 10px;
  margin: auto;

}
