.subject-nav { display:none; }

@media (min-width: 900px) {

  .subject-nav {
    display: block;
    float: left;
    width: 15%;
    /*height: 80%;*/
    padding: 20px;
  }

  /* ADD BAR TO ACTIVATE SUBJECT FORM */

  .subject-nav-add {
  }


  /* TOTAL LIST OF SUBJECTS */

  .subject-nav-list {

  }


  /* EACH INDIVIDUAL SUBJECT*/

  .subject-nav-list li {
    display: block;
    height: 90px;
    padding: 10px;
    /*background: #3498db;*/
    /*border: 1px solid red;*/
  }

  .subject-nav-topic {
    display: block;
  }

  .subject-nav-topic img {
    float: left;
    height: 50px;
    width: 50px;
    padding-right: 10px;
  }

  .subject-nav-topic h4 {

  }


  .progress-bar {
    /*display: block;*/
  }

  /* SUBJECT FORM TO ADD NEW SUBJECT */

  .subject-nav-form {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    font-size: 12px;
    margin: auto;
  }

  .subject-nav-form > h1 {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
  }

  .subject-nav-form button {
    display: block;
    padding: 5px 10px;
    margin: 5px auto;
    background: #2980b9;
    border-radius: 5px;
    color: white;
  }

  .subject-nav-form input {
    padding: 10px;
    margin: auto;
  }
}
