.subject-detail-main {
  background: #ebf9f9;
  border-radius: 10px;
  float: left;
  width: 50%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.subject-detail-main .title {
  /*color: #34495e;*/
  font-size: 20px;
  font-weight: bold;
}

.subject-detail-main img { display:none; }

@media (min-width: 500px) {

  .subject-detail-main img {
    display: block;
    padding-top: 10px;
    height: 250px;
    width: 250px;
  }
}

.subject-detail-main decklist {
  padding: 10px;
}

.subject-detail-main h5 {

}

.subject-detail-main ul {

}

.subject-detail-main .deck {

}

.subject-detail-main .deck:first-child {
}
